<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>注册</title>
    </head>

    <body>
        <div>
            <form method="post" action="/creat_user" enctype="multipart/form-data">
            <br>
                <td>用户名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <input type="text" class="txt_input" name="id" style="margin-top:15px;"/>
            <br>
                <td>密码：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <input type="text" class="txt_input" name="password" style="margin-top:15px;"/>
            <br>
                <td>再次输入密码：</td>
                <input type="text" class="txt_input" name="password-" style="margin-top:15px;"/>
            <br>
                <td>邮箱：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <input type="text" class="txt_input" name="email" style="margin-top:15px;"/>
            <br>
                <td>手机号：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <input type="text" class="txt_input" name="phone" style="margin-top:15px;"/>
            <br>
                <input type="submit" class="button-new" style="margin-top:15px;"/>
            </form>
        </div>
    </body>
</html>