<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结果</title>
</head>
    <body>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">慧眼计数</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="https://v3.bootcss.com/examples/navbar/">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="https://v3.bootcss.com/examples/navbar-static-top/">Static top</a></li>
              <li><a href="https://v3.bootcss.com/examples/navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
        <p class="bg-warning">葡萄总数为：{{quantity}}</p>
        <p class="bg-info">完好的葡萄总数为：{{g}}</p>
        <p class="bg-danger">破损的葡萄总数为：{{b}}</p>

        <img src="../static/save/{{fname}}" width="800" height="550"/>

        <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="submit" value="重新提交" class="btn btn-primary" style="margin-top:15px;"/>
        </form>

        <form method="post" action="/history" enctype="multipart/form-data">
            <input type="submit" value="历史记录" class="btn btn-primary" style="margin-top:15px;"/>
        </form>
    </body>
</html>